#scrollUp {
  bottom: 10px;
  right: 10px;
  width: 38px; /* Width of image */
  height: 38px; /* Height of image */
  /*padding: 5px 10px;*/
  /*background: #555;*/
  background-image: url("./top.png");
  /*color: #fff;*/
}
